@charset "UTF-8";



/*マップ内*/
.area1 {
	background-image: url(shotengaimap.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	margin: 0 auto;
 	}
 	
.mapabso {
	width: 100%;
	height: auto;
	} 	
 	
 	
/*マップサイズ*/
.area1 {
	display: block;
	width: 80%;
	height: 50vw;
	}	
	
.box1 li
	{list-style: none;
	}	
	
/*それぞれの文字の場所*/
.box1-1 {
	margin: 0;
	position: absolute;
	top: 6vw;
	left: 32vw;
	} 	
	
	
.box1-2 {
	margin: 0;
	position: absolute;
	top: 10vw;
	left: 32vw;
	} 		
	
.box1-3 {
	margin: 0;
	position: absolute;
	top: 8vw;
	left: 67vw;
	} 	

.box1-4 {
	margin: 0;
	position: absolute;
	top: 40vw;
	left: 24vw;
	} 	
.box1-5 {
	margin: 0;
	position: absolute;
	top: 18vw;
	left: 28vw;
	} 	
.box1-6 {
	margin: 0;
	position: absolute;
	top: 5%;
	left: 84%;
	} 	
.box1-7 {
	margin: 0;
	position: absolute;
	top: 30vw;
	left: 35vw;
	} 	
.box1-8 {
	margin: 0;
	position: absolute;
	top: 3vw;
	left: 83vw;
	} 	
.box1-9 {
	margin: 0;
	position: absolute;
	top: 33.5vw;
	left: 31vw;
	} 	
.box1-10 {
	margin: 0;
	position: absolute;
	top: 38vw;
	left: 31vw;
	} 	
.box1-11 {
	margin: 0;
	position: absolute;
	top: 5vw;
	left: 37vw;
	} 	
.box1-12 {
	margin: 0;
	position: absolute;
	top: 20vw;
	left: 72vw;
	} 	
.box1-13 {
	margin: 0;
	position: absolute;
	top: 23vw;
	left: 75vw;
	} 	
.box1-14 {
	margin: 0;
	position: absolute;
	top: 4vw;
	left: 75vw;
	} 	
.box1-15 {
	margin: 0;
	position: absolute;
	top: 8vw;
	left: 75vw;
	} 	
.box1-16 {
	margin: 0;
	position: absolute;
	top: 18vw;
	left: 73vw;
	} 	
.box1-17 {
	margin: 0;
	position: absolute;
	top: 14vw;
	left: 77vw;
	} 
	
.box1 ul li a{
	font-size: 8px;
	color: red;
	text-decoration: none;
	}	
		
/********左右に配置するbox*****/	
.boxA:after{
	content: "";
	display: block;
	clear: both;
	}
	
.boxleft {
	float: left;
	width: 10%;
	height: 30px;
	}

.boxright {
	float: right;
	width: 10%;
	height: 30px;

	}	

@media(min-width: 260px){
.box1-4{
	top: 40vw;
	}
	
.box1-6{
	top: 16vw;
	left: 76vw;
	}	
}

/*********小サイズ仕様**************/		
@media(max-width:300px){
		
.area1 {
	width: 180px;
	margin: 0 auto;
	}
}
@media(min-width: 300px){
.box1-12{
	top: 21vw;
	}

}		

@media(min-width: 400px){

	
.box1-4{
	top: 41vw;
	}
.box1-14{
	top: 5vw;
	}	

	
}


/********スマホ仕様*********/	
@media(max-width: 599px){	
.box1 li a{
	font-size: 8px;
	}

}
@media(min-width: 599px){
.box1 ul li a{
	font-size: 12px;}	

.box1-1{
	top: 7vw;
	left: 34vw;
	}
.box1-2{
	top: 10vw;
	left: 34vw;
	}
.box1-5{
	
	left: 29vw;
	}
.box1-10{
	top: 37vw;
	left: 32vw;
	}

	
}	

@media(min-width: 690px){
.box1-1{
	top: 6vw;
	left: 37vw;
	}
.box1-2{
	top: 9vw;
	left: 36vw;
	}	
.box1-4{
	top: 37.5vw;
	left: 28vw;
	}	
.box1-5{
	top: 16vw;
	left: 32vw;
	}	
.box1-6{
	top: 15vw;
	left: 75vw;
	}	
.box1-7{
	top: 28vw;
	left: 39vw;
	}	
.box1-9{
	top: 31vw;
	left: 35vw;
	}	
.box1-10{
	top: 35vw;
	left: 35vw;
	}	
.box1-11{
	left: 40vw;
	}	
.box1-12{
	top: 19vw;
	left: 70vw;
	}	
.box1-13{
	top: 21vw;
	left: 73.5vw;
	}	
.box1-16{
	top: 16vw;
	left: 72vw;
	}	
.box1-17{
	top: 13vw;
	left: 76vw;
	}	
}


/**************767px以下******/
@media(max-width: 782px){

/*全体の横幅を指定*/
.area1 {
	width: 580px;
	}
}
@media(min-width: 782px){	
	
.box1 ul li a{
	font-size: 20px;}	
	
.box1-1{
	left: 37vw;
	}
.box1-2{
	top: 10vw;
	left: 32vw;
	}
.box1-4{
	top: 41vw;
	left: 23vw;
	}
.box1-5{
	top: 18vw;
	left: 29vw;
	}
.box1-6{
	top: 16vw;
	}
.box1-7{
	top: 31vw;
	left: 35vw;
	}
.box1-9{
	top: 35vw;
	left: 33vw;;
	}
.box1-10{
	top: 38vw;
	left: 32vw;
	}
.box1-12{
	top: 21vw;
	left: 71vw;
	}
.box1-13{
	top: 24vw;;
	left: 75vw;
	}
.box1-16{
	top: 18vw;
	left: 72vw;;
	}


}


/************** 768px以上******/		
@media(min-width: 783px){

/*全体の横幅を固定*/
.area1 {
	width: 750px;
	}
.box1-1{
	top: 7vw;
	left: 32vw;
	}

}

@media(min-width: 890px){
.box1-1{
	left: 37vw;
	}
.box1-2{
	top: 9.5vw;
	left: 36vw;
	}	
.box1-4{
	top: 38vw;
	left: 27vw;
	}	
.box1-5{
	top: 16.5vw;
	left: 32vw;
	}	
.box1-7{
	top: 28vw;
	left: 39vw;
	}	
.box1-9{
	top: 31vw;
	}	
.box1-10{
	top: 35vw;
	left: 35vw;
	}	
.box1-12{
	top: 20vw;
	left: 72vw;
	}	
.box1-13{
	top: 21vw;
	left: 74vw;
	}	
	}




/*********PC仕様*******/
@media(min-width: 1000px){
.area1 {
	height: 40vw;
	}


.box1-1{
	top: 6vw;;
	}
.box1-2{
	top: 8vw;
	left:38vw;
	}
.box1-3{
	top: 7vw;
	left: 64vw;
	}
.box1-4{
	top: 31.5vw;
	left: 31vw;
	}
.box1-5{
	top: 14vw;
	left: 34vw;
	}
.box1-6{
	top: 13vw;
	left: 71vw;
	}
.box1-7{
	top: 24vw;
	left: 39.5vw;
	}
.box1-8{
	top: 2vw;
	left: 77vw;
	}
.box1-9{
	top: 26vw;
	left: 36vw;
	}
.box1-10{
	top: 29.3vw;
	left: 36.5vw;
	}
.box1-11
	top: 4vw;
	left: 41vw;
	}
.box1-12{
	top: 17vw;
	left: 68vw;
	}
.box1-13{
	top: 18vw;
	left: 71vw;
	}
.box1-14{
	top: 4vw;
	left: 70vw;
	}
.box1-15{
	top: 6vw;
	left: 70vw;
	}
.box1-16{
	top: 14vw;
	left: 68vw;
	}
.box1-17{
	top: 11vw;
	left: 71vw;
	
	}

/*********でかPC仕様**********/
@media(min-width: 1200px){
.area1 {
	height: 35vw;
	}
	
.box1-1{
	top: 5vw;
	left: 40vw;
	}
.box1-2{
	top: 7vw;
	left: 39vw;
	}	
.box1-3{
	top: 6vw;
	left: 63vw;
	}	
.box1-4{
	top: 28vw;
	left: 33vw;
	}	
.box1-5{
	top: 12vw;
	left: 37vw;
	}	
.box1-6{
	top: 11vw;
	left: 69vw;
	}	
.box1-7{
	top: 21vw;
	left: 42vw;
	}	
.box1-8{
	left: 74vw;
	}
.box1-9{
	top: 22vw;
	left: 39vw;
	}	
.box1-10{
	top: 25vw;
	left: 39vw;
	}	
.box1-11{
	left: 43vw;
	}	
.box1-12{
	top: 14vw;
	left: 64vw;
	}	
.box1-13{
	top: 14vw;
	left: 66vw;
	}	
.box1-14{
	top: 3vw;
	left: 68vw;
	}	
.box1-15{
	top: 5vw;
	left: 68vw;
	}	
.box1-16{
	top: 12vw;
	left: 66vw;
	}	
.box1-17{
	top: 9vw;
	left: 69vw;
	}	
}

@media(min-width: 1250px){
.box1-1{
	top:  4vw;
	left: 41vw;
	}
.box1-2{
	top: 6vw;
	left: 41vw;
	}
.box1-3{
	top: 5vw;
	left: 61vw;
	}
.box1-4{
	top: 22vw;
	left: 36vw;
	}	
.box1-5{
	top: 10vw;
	left: 39vw;
	}
.box1-6{
	top: 9vw;
	left: 66vw;
	}
.box1-7{
	top: 18vw;
	}
.box1-8{
	left: 70vw;
	}
.box1-9{
	top: 19vw;
	left: 40vw;
	}
.box1-10{
	top: 22vw;
	left: 41vw;
	}
.box1-11{
	top: 4vw;
	}	
.box1-12{
	top: 12vw;
	left: 62vw;
	}
.box1-13{
	top: 13vw;
	left: 64vw;
	}
.box1-14{
	left: 64vw;
	}
.box1-15{
	left: 64vw;
	} 					 					
.box1-16{
	top: 10vw;
	left: 63vw;
	}
.box1-17{
	top: 8vw;
	left: 66vw;
	}	
}











	
		
		